.add_edit_form {
  flex-direction: column;
  margin-top: 100px;
}

.add_edit_form input {
  width: 500px;
  padding-left: 10px;
  height: 40px;
  outline: none;
  margin: 5px;
}

.add_edit_form button {
  cursor: pointer;
  background-color: #764abc;
  width: 200px;
  margin: auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 40px;
  color: white;
}

.add {
  cursor: pointer;
}

h2 {
  text-align: center;
  color: #764abc;
  font-size: 30px;
}
